

    <h1>TypeScript HTML App</h1>

    <div id="content">
        <input type="button" onclick="player.play()" value="GO!" />
        <input type="button" onclick="player.pause()" value="Pause" />
        <input type="button" onclick="player.pause();player.seek(0);" value="Stop" />
    </div>


